In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("D:/Train.csv")

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.groupby('Outlet_Location_Type')

In [5]:
df.groupby('Outlet_Location_Type').count()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Type,Item_Outlet_Sales
Outlet_Location_Type,,,,,,,,,,,
Tier 1,2388,1860,2388,2388,2388,2388,2388,2388,2388,2388,2388
Tier 2,2785,2785,2785,2785,2785,2785,2785,2785,930,2785,2785
Tier 3,3350,2415,3350,3350,3350,3350,3350,3350,2795,3350,3350

In [6]:
df.groupby('Outlet_Location_Type')['Item_Outlet_Sales'].sum()

Outlet_Location_Type
Tier 1    4.482059e+06
Tier 2    6.472314e+06
Tier 3    7.636753e+06
Name: Item_Outlet_Sales, dtype: float64

In [7]:
data={'Gender':['m','f','f','m','f','m','m'],'Height':[172,171,169,173,170,175,178]}

In [8]:
df_sample=pd.DataFrame(data)

In [9]:
df_sample

  Gender  Height
0      m     172
1      f     171
2      f     169
3      m     173
4      f     170
5      m     175
6      m     178

In [10]:
f_filter = df_sample['Gender']=='f'
print(df_sample[f_filter])

  Gender  Height
1      f     171
2      f     169
4      f     170

In [11]:
m_filter=df_sample['Gender']=='m'
print(df_sample[m_filter])

  Gender  Height
0      m     172
3      m     173
5      m     175
6      m     178

In [12]:
f_avg=df_sample[f_filter]['Height'].mean()

In [13]:
m_avg=df_sample[m_filter]['Height'].mean()

In [14]:
print(f_avg,m_avg)

170.0 174.5

In [15]:
df_output=pd.DataFrame({'Gender':['f','m'],'Height':[f_avg,m_avg]})

In [16]:
df_output

  Gender  Height
0      f   170.0
1      m   174.5

In [17]:
df_sample.groupby('Gender').mean()

        Height
Gender
f        170.0
m        174.5

In [18]:
df.groupby('Outlet_Location_Type').agg([np.mean,np.median])

                     Item_Weight         Item_Visibility            \
                            mean  median            mean    median
Outlet_Location_Type
Tier 1                 12.892124  12.625        0.071205  0.056450
Tier 2                 12.768628  12.500        0.061038  0.051766
Tier 3                 12.933745  12.650        0.066751  0.053906

                        Item_MRP           Outlet_Establishment_Year         \
                            mean    median                      mean median
Outlet_Location_Type
Tier 1                140.870106  143.2641               1995.125628   1997
Tier 2                141.167196  143.2812               2004.330341   2004
Tier 3                140.935232  142.2483               1994.358507   1987

                     Item_Outlet_Sales
                                  mean     median
Outlet_Location_Type
Tier 1                     1876.909159  1487.3972
Tier 2                     2323.990559  2004.0580
Tier 3                     2279.627651  1812.3076

In [22]:
df.groupby(['Outlet_Location_Type','Outlet_Establishment_Year'],as_index=False).agg({'Outlet_Size':pd.Series.mode,'Item_Outlet_Sales':np.mean})

,Outlet_Location_Type,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales
0,Tier 1,1985,Small,340.329723
1,Tier 1,1997,Small,2277.844267
2,Tier 1,1999,Medium,2348.354635
3,Tier 2,2002,[],2192.384798
4,Tier 2,2004,Small,2438.841866
5,Tier 2,2007,[],2340.675263
6,Tier 3,1985,Medium,3694.038558
7,Tier 3,1987,High,2298.995256
8,Tier 3,1998,[],339.351662
9,Tier 3,2009,Medium,1995.498739

In [24]:
df.groupby(['Outlet_Type','Item_Type']).agg(mean_MRP=('Item_MRP',np.mean),mean_Sales=('Item_Outlet_Sales',np.mean))

                                   mean_MRP   mean_Sales
Outlet_Type       Item_Type
Grocery Store     Baking Goods   126.438068   292.082544
                  Breads         146.452873   381.967442
                  Breakfast      147.026989   412.831042
                  Canned         138.080808   352.864879
                  Dairy          147.166715   341.866589
...                                     ...          ...
Supermarket Type3 Others         106.779053  2700.928667
                  Seafood        124.028286  2687.073686
                  Snack Foods    144.574508  3745.168739
                  Soft Drinks    123.313587  3284.938836
                  Starchy Foods  143.078386  3512.190114

[64 rows x 2 columns]

In [25]:
df['Item_Weight'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Weight, Length: 8523, dtype: bool

In [28]:
df['Item_Weight']=df.groupby(['Item_Fat_Content','Item_Type'])['Item_Weight'].transform(lambda x:x.fillna(x.mean()))

In [29]:
df.shape

(8523, 12)

In [30]:
def filter_func(x):
    return x['Item_Weight'].std()<3

In [31]:
df_filter=df.groupby(['Item_Weight']).filter(filter_func)

In [32]:
df_filter.shape

(8510, 12)